spring:
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 1234
  jpa:
    #database.platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate.ddl-auto: none
    generate-ddl: false
    show-sql: true
  liquibase:
     enabled: true
     drop-first: false
     change-log: db/changelog/db.changelog-master.yaml
